# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Order is important; the last matching pattern takes the most
# precedence.

# In this example, @rlhagerm  owns any files in the build/logs
# directory at the root of the repository and any of its
# subdirectories.


# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.

/dotnetv3/ @rlhagerm 